[Unit]
Description=ava
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/ava
ExecStart=/opt/ava/bin/ava --network-id=fuji
Restart=on-failure

[Install]
WantedBy=multi-user.target
